# Command:
# uv pip compile -v -U list_lm/requirements.in -o list_lm/requirements.txt
requests>=2.32,<3.0
lxml>=5.0,<6.0
pydantic>=2.8,<2.9
pyperclip>=1.9,<2.0
# Linters and formatters
ruff==0.5.7
black>=24.4,<25.0
isort>=5.13,<5.14
# Typing
mypy>=1.11,<1.12
types-requests>=2.32,<3.0
